@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(Variable.css);

body {
  background: var(--bgLogin-Register);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  overflow: hidden;
}

.bgWindow {
  width: 100%;
  height: 100vh;
}

.autsideCard {
  border-radius: 10px;
  height: 90vh;
  width: 55%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signIn-google h1 {
  font-size: 15px;
  color: grey;
}

.insideCaard {
  position: relative;
  width: 560px;
  height: 400px;
  border-radius: 10px;
  margin: 0 10%;
  background: #fff;
}

.leftCard {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--bgLogin-RegisterTab);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leftCard h3 {
  height: auto;
  margin: 45px 50px 15px 50px;
  font-size: 15px;
  color: #e5e5e5;
}

.btn-blueGradient {
  color: white;
  background: var(--btnRegister);
  width: 95px;
  height: 35px;
  margin-left: 18.1%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-Gradient {
  color: white;
  background: var(--button-gradient);
  font-family: var(--fontFamily);
  width: 95px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.leftCard .btn-blueGradient:hover {
  color: #000;
}

.leftCard img {
  width: 375;
  height: 235px;
  margin: 110px 0 0 0;
}

.rightCard {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 2;
  border: 1px solid rgb(104, 100, 100);
  border-left: none;
}

.img-left img {
  width: 50px;
  height: 45px;
  margin: 20px 15px 0 0;
}

.text-right h1 {
  font-size: 17px;
  color: #61c0ee;
  margin: 35px 0 0 0;
}

.plus62 {
  pointer-events: none;
}

.inputValue input {
  border-style: hidden;
  color: #282828;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: var(--fontFamily);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  background: #f5f5f5;
}

.inputValue label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

/* * Phone */

@media (min-width: 0px) and (max-width: 765px) {
  .autsideCard {
    width: 85%;
  }

  .insideCaard {
    position: none;
    width: 100vw;
    height: 400px;
    border-radius: 10px;
    margin: 0;
    background: #fff;
  }
}

/* * Dekstop */

@media (min-width: 1260px) {
  .autsideCard {
    width: 65%;
    height: 90vh;
  }

  .insideCaard {
    width: 600px;
    height: 440px;
  }

  .leftCard img {
    margin: 175px 0 0 0;
    transform: translateX(25px);
  }

  .btn-Gradient {
    margin-top: 20px;
  }
}

/* Tab1 */
@media (min-width: 768px) and (min-height: 1024px) {
  .autsideCard {
    width: 100%;
    height: 0vh;
  }

  .insideCaard {
    position: none;
    width: 90vw;
    height: 35vh;
    border-radius: 10px;
    margin: 0;
    background: #fff;
  }

  .leftCard img {
    width: 400px;
    height: 250px;
    margin: 300px 0 0 0;
    transform: translateX(55px);
  }

  .leftCard h3 {
    margin: 45px 50px 15px 50px;
    font-size: 25px;
  }

  .btn-blueGradient {
    width: 125px;
    height: 45px;
    margin-left: 13.1%;
  }

  .img-left img {
    width: 60px;
    height: 55px;
    margin: 40px 15px 0 0;
  }

  .text-right h1 {
    font-size: 25px;
    margin: 55px 0 0 0;
  }

  .inputValue label {
    font-size: 20px;
  }

  .inputValue input {
    font-size: 20px;
  }

  .btn-Gradient {
    width: 135px;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 0;
  }

  .signIn-google h1 {
    font-size: 20px;
  }

  .leftCard {
    display: none;
  }

  .rightCard {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }
}

/* * Tab 2 */
@media (min-width: 1024px) and (min-height: 1300px) {
  .autsideCard {
    width: 100%;
    height: 0vh;
  }

  .insideCaard {
    width: 90vw;
  }

  .leftCard img {
    transform: translateX(115px);
  }

  .img-left img {
    width: 70px;
    height: 65px;
  }

  .text-right h1 {
    font-size: 27px;
    color: #61c0ee;
    margin: 60px 0 0 0;
  }

  .signIn-google h1 {
    font-size: 20px;
  }
}

/* Galaxy j4 */

/* @media (min-width: 290px) and (min-height: 610px) {
  .insideCaard {
    height: 50vh;
    border-radius: 20px;
  }
  .text-right h1 {
    font-size: 60px;
    margin-top: 75px;
  }
  .img-left img {
    width: 120px;
    height: 120px;
    margin-top: 50px;
  }
  .signIn-google h1 {
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 100px;
  }
  .inputValue label {
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .inputValue input {
    height: 4vh;
    border-radius: 15px;
  }
  .btn-Gradient {
    width: 25vw;
    height: 4vh;
    font-size: 35px;
    margin-top: 50px;
    border-radius: 15px;
  }
} */
