@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(Variable.css);

body {
  margin: 0;
  padding: 0;
  background: var(--bgRegister);
  font-family: var(--fontFamily);
}
#login-box {
  position: relative;
  border-radius: 10px;
  margin: 5% auto;
  height: 79vh;
  width: 55%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.left-box {
  position: absolute;
  top: 50%;
  left: 30.1%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(104, 100, 100);
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white;
  width: 280px;
  height: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.left-box .img-left {
  position: absolute;
  width: 50px;
  height: 45px;
  margin: 40px 35px;
}
.left-box .username {
  position: absolute;
  top: 43.1%;
  left: 14.8%;
  width: 72.5%;
  height: 6.5%;
  padding-left: 7px;
  border-radius: 5px;
  font-size: 12px;
  background: #61c0ee;
  border-style: hidden;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.left-box .password {
  position: absolute;
  top: 61.5%;
  left: 14.8%;
  width: 72.5%;
  height: 6.5%;
  padding-left: 7px;
  border-radius: 5px;
  font-size: 12px;
  background: #61c0ee;
  border-style: hidden;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.left-box .user {
  position: absolute;
  top: 36.8%;
  left: 14.75%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.left-box .pass {
  position: absolute;
  top: 55.2%;
  left: 14.75%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.left-box .sign-in {
  position: absolute;
  left: 14.75%;
  top: 80.8%;
  width: 95px;
  height: 35px;
  background: linear-gradient(95.62deg, #3c74ff -4.86%, #6fdee7 141.65%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border-style: hidden;
}
.left-box .sign-in:hover {
  color: #282828;
}
h1 {
  position: absolute;
  margin: 50px 95px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: #61c0ee;
}
h2 {
  position: absolute;
  width: auto;
  height: auto;
  margin: 85px 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}
h3 {
  position: absolute;
  width: 300px;
  height: auto;
  margin: 45px 50px;
  font-weight: bold;
  font-size: 15px;
  color: #e5e5e5;
}
.right-box {
  position: absolute;
  top: 50%;
  right: 30.1%;
  transform: translate(50%, -50%);
  border: 1px solid gray;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(
    110.98deg,
    #9b43ca 0.31%,
    #3c74ff 47.99%,
    #61c0ee 79.47%,
    #6fdee7 91.86%
  );
  width: 280px;
  height: 350px;
  background-position: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}
.right-box .img-right {
  position: absolute;
  width: 375px;
  height: 235px;
  margin: 180px 20px;
}
.right-box .sign-up {
  position: absolute;
  left: 18.1%;
  top: 23.8%;
  width: 95px;
  height: 35px;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  font: outline;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
}

.right-box .sign-up:hover {
  color: #000;
}
