@import url("Variable.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(
    131.38deg,
    #9b43ca -4.2%,
    #3c74ff 42.96%,
    #6fdee7 103.63%
  );
  height: 609px;
}

div h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 10%;
  font-size: 30px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 550px;
  height: 120px;
  border-radius: 10px;
}
