/* * Letakan Semua Variable css disini */

:root {
  --bgSeller-Welcome: url("../img/Background/Seller/Bg.jpg");
  --bgSeller-WelcomeTab: url("../img/Background/Seller/bgTab.jpg");
  --bgSeller-WelcomePhone: url("../img/Background/Seller/bgPhone.jpg");
  --bgSeller-WelcomeDesktop: url("../img/Background/Seller/bgDesk.jpg");
  --bgLogin-Register: linear-gradient(
    110.98deg,
    #9b43ca 0.31%,
    #3c74ff 47.99%,
    #61c0ee 79.47%,
    #6fdee7 91.86%
  );
  --boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --backdropFilter: blur(4px);
  --webkitBackdropFilter: blur(4px);
  --borderRadiusLogin: 10px;
  --fontFamily: "Poppins", sans-serif;
  --button-gradient: linear-gradient(95.62deg, #3c74ff -4.86%, #6fdee7 141.65%);
  --bgRegister: linear-gradient(
    -87.98deg,
    #9b43ca 0.31%,
    #3c74ff 47.99%,
    #61c0ee 79.47%,
    #6fdee7 91.86%
  );
  --bgCard-Register: linear-gradient(
    110.98deg,
    #9b43ca 0.31%,
    #3c74ff 47.99%,
    #61c0ee 79.47%,
    #6fdee7 91.86%
  );
}
